<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 class="modal-title" id="exampleModalLabel">Welcome {{{ username }}} </h1>
</div> {{!-- /.modal-header --}}

<div class="modal-body">
    {{!-- nothing in the body for now --}}
</div>{{!-- /.modal-body --}}

<div class="modal-footer">
    <p><a href="/logout">Logout</a></p>
</div> {{!-- /.modal-footer --}}