body {
    background-image: url("http://cdn.wallpapersafari.com/94/64/39FDrH.jpg");
	background-size: 100%;
}

#locationField, #controls {
  position: relative;
  width: 480px;
}
#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.popcss{
	color:red;
}

#JTtitle{
	font-family: 'Shadows Into Light', cursive;
	font-size:90pt;
	color:white;
	margin:0;
}

.jumbotron {
	background-color: #d05748;
	height: 200px;
	padding: 20px;
}

.footer {
  position: absolute;
  bottom: -10;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin:30px 0 0 0;
}